name: CI-CD API

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build_test_and_publish_image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "10.0.x"

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Test
      run: dotnet test Demo.CICD.Api.Tests/Demo.CICD.Api.Tests.csproj -c Release --no-build --logger trx

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        IMAGE=ghcr.io/${{ github.repository_owner }}/demo-cicd-api:latest
        docker build -t $IMAGE ./Demo.CICD.Api
        docker push $IMAGE
